.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-input {
    height: 60%; /* Adjust height as needed */
    width: 400px; /* Set width to make the input field longer */
    font-size: 36px; /* Set font size to make the text bigger */
    text-align: center;
    background-color: #2c7a7b; /* Background color */
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none; /* Remove default border */
    border-radius: 8px; /* Optional: adds rounded corners */
}

.main-input::placeholder {
    color: white; /* Placeholder text color */
}

.submit-button {
    background-color: #2c7a7b; /* Button background color */
    color: white; /* Button text color */
    font-size: 22px; /* Button text size */
    padding: 0.5rem 1rem; /* Padding around text */
    border: none; /* Remove default border */
    border-radius: 8px; /* Optional: adds rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
}

.author-card {
    width: 100%; /* Adjust width as needed */
}

.author-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px; /* Adjust spacing between cards */
    margin-top: 20px;
}


.author-card {
    width: 100%; /* Adjust width as needed */
    max-width: 300px; /* Set a maximum width for better responsiveness */
    margin: 0 auto;
}

.author-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px; /* Adjust spacing between cards */
    margin-top: 20px;
}

@media (min-width: 768px) { /* Adjust breakpoint as needed */
    .author-container {
        justify-content: space-between;
    }
}


